  <div class="auth">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a clas="active "href="#login">Войти</a></li>
        <li class="tab col s6"><a href="#register">Регистрация</a></li>
      </ul>
    </div>
    <div id="login" class="col s6 offset-s3">
     <h1>Войти в магазин</h1> 
    <form action="/add" method="POST">
        <div class="input-field">
            <input name="email" id="email" type="email" class="validate" required>
            <label for="email">Email</label>
            <span class="helper-text" data-error="Введите email"></span>
        </div>

        <div class="input-field">
            <input name="password" id="password" type="password" class="validate" required>
            <label for="password">Пароль</label>
            <span class="helper-text" data-error="Введите пароль"></span>
        </div>


        <button class="btn btn-primary" type="submit">Войти</button>
    </form>

 
      </div>
    <div id="register" class="col s6 offset-s3">

      <h1>Создать аккаунт</h1> 
    <form action="/add" method="POST">
        <div class="input-field">
            <input name="reemail" id="email" type="email" class="validate" required>
            <label for="reemail">Email</label>
            <span class="helper-text" data-error="Введите email"></span>
        </div>

        <div class="input-field">
            <input name="rpassword" id="password" type="password" class="validate" required>
            <label for="rpassword">Пароль</label>
            <span class="helper-text" data-error="Введите пароль"></span>
        </div>
         <div class="input-field">
            <input name="confirm" id="confirm" type="password" class="validate" required>
            <label for="confirm">Пароль еще раз</label>
            <span class="helper-text" data-error="Введите пароль"></span>
        </div>


        <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
    </form>
    </div>
  </div>
  </div>